<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Mailto URL Length Calculator</h1>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card class="main-card">
  <mat-card-header>
    <h2>Insert your text here</h2>
  </mat-card-header>
  <mat-card-content>
    <div class="card-body" *ngIf="mailtoUrl$ | async as mailtoUrl">
      <form [formGroup]="mailtoForm" (submit)="onTestUrl()">
        <div>
          <mat-form-field class="mailto-input">
            <input type="text" matInput formControlName="recipient" placeholder="Recipient">
            <mat-error>Please enter a valid e-mail</mat-error>
          </mat-form-field>
          <mat-form-field class="mailto-input">
            <input type="text" matInput formControlName="subject" placeholder="Subject">
          </mat-form-field>
          <mat-form-field class="mailto-input">
            <textarea matInput formControlName="mailbody" placeholder="Mail body" rows="10"></textarea>
          </mat-form-field>
        </div>
        <div>
          <a [href]="mailtoUrl" #testLink></a>
          <button mat-raised-button color="primary" type="submit">Test URL</button>
        </div>
        <div class="mt-3">
          <h3>Mailto URL length (should not exceed 2000 chars)</h3>
          <p [class.too-long]="mailtoUrl.length > 2000">{{mailtoUrl.length}}</p>
          <h3>Mailto URL (Click on textarea to copy)</h3>
          <mat-form-field class="mailto-input">
            <textarea matInput [value]="mailtoUrl" readonly rows="5"
                      class="click-to-copy" (click)="onCopy($event.target)">
            </textarea>
          </mat-form-field>
        </div>
      </form>
    </div>
  </mat-card-content>
</mat-card>
