.main-card {
  margin: 10px;
}

.mailto-input {
  width: 80%;
}

.click-to-copy {
  cursor: copy;
}

.too-long {
  color: red;
}

.mt-3 {
  margin-top: 3em;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.copyright {
  padding: 5px;
  color: #d3d3d3;
}
